@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 25px 70px;
    max-width: 100%;
}

h1{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 150%;
    letter-spacing: 0.005em;
}

label{
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
    margin-right: 44px;
}


form div{
    margin-bottom:12px;
  }

  .input-style, select{
    width:30%;
    padding:10px;
    margin: 7px 0;
    border: 1px solid #828282;
    border-radius:4px;
    outline:none;
    font-size: 15px;
  }

  .btn{
    margin-left: 235px;
  }

  button{
    color: white;
    font-size: 18px;
    background: #155EEF;
    border-radius: 4px;
    padding: 12px 155px;
    border: none;
    cursor: pointer;
  }

  .moh{
    margin-left: 123px;
  }

  .moh1{
    margin-left: 88px;
  }

.moh2{
    margin-left: 82px;
}

.moh3{
    margin-left:114px ;
}

.moh4{
    margin-left: 60px;
}

.moh5{
    margin-left: 104px;
}

.moh6{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}


::placeholder, select{
    color: #797979;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
}