*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  padding: 80px 0;
  background-color: aqua;
}

#about{
  background-color: black;
  padding: 15px;
  color: bisque;
}

.container {
  padding: 20px;
}

.interest{
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

p{
  margin-top: 8px;
}

.git{
  color: red;
}

a{
  text-decoration: none;
  color: bisque;
}

.btns{
  margin-top: 30px;
}

button{
  padding: 12px 20px;
  color: bisque;
  font-size: 16px;
  border-radius: 18px;
  background-color: black;
  margin-left: 6px;
}



